**/.vs/
**/bin/
**/obj/

**.aps
**.db
**.dropbox.attr
**.DS_Store
**.stackdump
**.user

**-in.txt
**-out.txt
!build/competitive.template/competitive-in.txt
!build/competitive.template/competitive-out.txt
