# Python.
**/.ipynb_checkpoints/
**/__pycache__/
**/*.egg-info/
**/.venv/
**/.data/
**/.bin/
**/.obj/
**/.venv

# Node.
**/node_modules/

# Nebo.
**/*.syncthing*/
**/*.nebo-files/

# C++.
**/.vs/

# General.
**.aps
**.db
**.dropbox.attr
**.DS_Store
**.stackdump
**.user
