# Python.
**/.ipynb_checkpoints/
**/__pycache__/
**/*.egg-info/
**/.venv/
**/.data/
**/.venv

# Nebo.
**/*.syncthing*/
**/*.nebo-files/

# C++.
**/.vs/
**/bin/
**/obj/

# General.
**.aps
**.db
**.dropbox.attr
**.DS_Store
**.stackdump
**.user
